/* Configurações gerais */
* {
    font-family: 'Roboto';
}
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #119C13;
    border: 2px solid #1AE01D;
}

.btn-primary:hover {
    background-color: #1AE01D;
    border: 2px solid #119C13;
}

/* Navbar */
#navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    
}

#navbar a:hover {
    color: #119C13;
    
}

#navbar img {
    width: 70px;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #1C222E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer p {
    margin-bottom: 0;
}

/* Index */

#search-container {
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    background-color: #1C222E;
}

#search-container h1 {
    color: #757575;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}
.card-status-concluida {
    background-color: #D4EDDA;
    color: #155724;
    width: 85px;
    border-radius: 5px;
    text-align: center;
}

.card-status-pendente {
    background-color: #98c3ed;
    color: #318CE7;
    width: 85px;
    border-radius: 5px;
    text-align: center;
}

.card-status-cancelada {
    background-color: #ff7676;
    color: #9a0526;
    width: 85px;
    border-radius: 5px;
    text-align: center;
}

/* Show Page */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

#info-container ion-icon {
    font-size: 20px;
    color: #155724;
    margin-right: 5px;
}

